$Color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #c3cfe2;
  text-align: center;
}

.wrapper {
  display: grid;
  padding: 30px;
  grid-gap: 30px;
  max-width: 1800px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
  .image-holder {
    position: relative;
    background-color: darkslategrey;
  }
  .image-holder .button {
    opacity: 0;
    position: absolute;
    transition: 0.5s;
  }
  .img:hover {
    opacity: 0;
    transition: opacity 2s;
  }
  .image-holder:hover .button {
    opacity: 1;
  }
  .button {
    top: 50%;
    left: 50%;
  }
}
